.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('../img/background/party.png') right no-repeat;
    height: 363px;
    text-align: left;
}
.banner__title{
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    text-transform: none;
    margin-right: 400px;
}
.offer b{
    color: #FF5300;
}