.button{
    border-radius: 35px;
    background-color: #FF5400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 53px;
    width: 195px;
    height: 55px;
    color: #fff;
}