.contacts{
    text-align: center;
    float: right;
}

.contacts__tel-text{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
}

.contacts__header{
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    
    text-decoration-line: underline;
    
    color: #FF3D00;
    text-align: right;
}

.contacts__text{
    font-size: 13px;
    line-height: 21px;
    /* identical to box height, or 162% */

}

.contacts__rectangle-hover{

}