

.contacts__tel-text{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    margin-top: 0px;
}

.contacts__header{
    margin-bottom:0;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;

    /* identical to box height, or 154% */
    
    text-decoration-line: underline;
    
    color: #FF3D00;
    text-align: right;
}

.contacts__text{
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    text-align: right;
    color: #9A9A9A;
    margin-bottom: 0;
    /* identical to box height, or 162% */

}