
.reviews{
    column-count: 2;
    column-gap: 30px;

}

.reviews__item{
    margin-bottom: 17px;
}
.review{
    display: inline-flex;
    flex-direction: column;
    padding: 50px 28px;
    background-color: #F4F5F5;
    border-radius: 5px;
}

.review__header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__user{
    display: flex;
    align-items: center;
    color: #2E77A4;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 10px;
}

.review__user::after{
    content: url(../img/icons/vk-blue.png);
    height: 29px ;
    margin-left: 10px;
}

.avatar{
    width: 140px;
    height: 140px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;

}
.review__tags{
    display: flex;
    align-items: flex-start;
}
.tag{
    font-size: 15px;
    color:#303030;
    padding: 10px 25px;
    border-radius: 35px;
    background-color: #E7E7E7;
}
.tag--bg--orange{
    background-color: #F2D4C9;
}

.review__title{
    color: #202020;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 13px;
}

.review__content-text{
    margin-bottom: 50px;
}

.review__date{
    color: #1A1B1E;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
}

