.reviews-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
}
.feedback-gallery{
    columns: 2;
    gap: 25px;
    column-gap: auto;
}
.feedback-gallery__item {
    display: inline-flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #F4F5F5;
    padding: 30px;
    margin-bottom: 20px;
}
.feedback-gallery__header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feedback__fname{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
}
.fname-link{
    color:#2E77A4;
}
.feedback__title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #202020;
}
.feedback__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #818181;
    margin-bottom: 40px;
}
.feedback__date{
    color:#1A1B1E;
}
.feedback .paginator{
    color:#202020;
}
.feedback .paginator__link{
    color:#202020;
}

.feedback .paginator__link.highlight{
    color: #fff;
}