.section-gray{
    background-color: #E7E7E7;
}

.form__options{

    display: flex;
    color:#1A1B1E;

}

.options-title{
    padding: 0 30px;
    width: 50%;
}

.form__title{
    padding: 45px 0;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color:#202020;
    text-transform: uppercase;
}

.form__row{
    display: flex;
    margin-bottom: 26px;
}
.form__row_actions{
    justify-content: flex-end;
}
.form__input{
    height: 65px;
    outline: none;
    flex: 1;
    margin-right: 28px;
    color:#666;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0px 30px;
    
}

.form__input:last-child{
    margin-right: 0;
}

.form__row_comment{
    height: 235px;
    padding: 20px 30px;
}
.form__input:focus{
    border: 1px solid #CCCCCC;
}
.tags-list{
    display: flex;
    flex: 1;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tags-list__item{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    text-align: center;
    color: #303030;
    border-radius: 35px;
    margin-right:10px;
    margin-bottom: 30px;
}

.tags__elem{
    cursor: pointer;
}

.tags-list__item .tag{
    padding: 9px 15px; 

}

.tags-list__check{
    display: none;
}


.tags-list__check:checked + .tag{
    background-color: #F2D4C9;
}   


.form__button{
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 10px;
    margin-bottom: 100px;
}


