.form__inputs {
    display: flex;
    flex-direction: column;
}
input{
flex-direction: row;
}
input, textarea{
    color:#666;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: none;
    padding:19px 31px;
    color: #1A1B1E;
}
.form__button{
    border:none;
}

.item__tag{
    padding: 9px 15px;
}
.item__tag:hover{
    padding: 9px 15px;
    background-color: #F2D4C9;
    color: #303030;
    transition: 0.5s;
}

