.nav-menu{
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu__list {
    list-style: none;
}
.nav-menu__item{
    display: inline;
    margin-right: 10px;
}
.nav-menu__link{
    text-decoration: none;
    color: #fff;
    line-height: 19px;
}