.news__paginator{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.news__menu{

    padding: 5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px; 

}

.news__list{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.news__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.news__item.active-item{
    background-color: #FF5400;

}
.news__paginator-link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
 
}


