.products {
    padding:0;
    margin-top: 100px;
    margin-bottom:100px;
}

.products__menu{
    display: flex;

}
.products__item{
    margin: auto;
    width: 362px;
    height: 476px;
    border-radius: 5px;
    background-color: #fff;

}
.products__img{
    margin: 40px 20px;
}
.products__header{
    margin: 20px 10px 0 20px;
    padding:0;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #000;
    text-align: left;
}

.products__text {
    padding: 0px 20px 0px 20px;
    
    margin: 10px 0 10px 0;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #666;
}

.products__text-left{
    display: inline-block;
    margin-right: 50px;
}
.products__text-right{
    display: inline-block;
    margin: auto;
}
.products__text-bottom{
    margin-bottom: 40px;
}
.products__link.button, .products__link.button-white{
    margin:20px;
}
