.reviews{
    background-color: #fff;
    color: #202020;
}
.reviews__header{
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
}
.content__item{
    background-color: #F4F5F5;
    width: 500px;
    padding:31px;
}

.item__header{
    display: flex;
}
.upper-level{
    display: block;
    width:100%;
}
.item__name{
    color:#202020;
}
.item__tag-cloud{
    display: block;
    width:100%;
}

.content__title{
    color: #202020;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
}

.content__text{
    color:#818181;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
}