.services__body{
    background: none;
}


.page-content{
    background-color: #fff;
    color: #303030;
}
.service{
    display: flex;
}

.service__img{
    width: 30%;
    margin-right: 7%;
}
.service__content{
    flex: 1;
}