@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,800&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('../styles/header.css');
@import url('../styles/container.css');
@import url('../styles/nav-menu.css');
@import url('../styles/button.css');
@import url('../styles/contacts.css');
@import url('../styles/logo.css');
@import url('../styles/social-network.css');
@import url('../styles/footer.css');
@import url('../styles/fullscreen.css');
@import url('../styles/products.css');
@import url('../styles/button-white.css');
@import url('../styles/button-gray.css');
@import url('../styles/news.css');
@import url('../styles/section-title.css');
@import url('../styles/paginator.css');
@import url('../styles/about-us.css');
@import url('../styles/tag.css');
@import url('../styles/reviews-content.css');
@import url('../styles/banner.css');
@import url('../styles/form.css');
@import url('../styles/services.css');


body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   line-height: 2;
   color: #fff;
   background: url('../img/background/hero.png')top no-repeat, url('../img/background/bottom-pic.png')bottom no-repeat;
   background-color: #17191C;
}