.top-line{
    display: flex;
    min-height: 415px;
    flex-direction: column;
    background: #000 url('../img/background/top-line.png') right 45% top no-repeat;
}
.top-line__container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title{
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-transform: uppercase;
}